.calendarBox {
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(16, 19, 75, 0.37);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: whitesmoke;
}

h1 {
    color: white;
}