.slideshow {
    width: 98%;
    height: 98%;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5), -4px -4px 5px rgba(255, 255, 255, 0.05); 
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: fadeSlide 26s ease-in-out infinite;
    margin: 10px;
    border-radius: 20px !important;
}

@keyframes fadeSlide {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}