.timeBox{
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(16, 19, 75, 0.37);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: whitesmoke;
}

.localTime{
    font-family:'Courier New', Courier, monospace !important;
}

.worldClockFace{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.worldClockFace:nth-child(){
    display: flex;
    flex-direction: column;
}

.react-clock__face {
    stroke: #d80cd8 !important;
}

.react-clock__hand__body {
    stroke: #000 !important;
}

.worldClock-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.clock-container-small{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.react-clock__mark__body{
    stroke: #182a8f !important;
}

.react-clock__mark{
    stroke: #af0909;
}

.react-clock__mark--small{
    stroke: #b3d10a;
}