*{
  overflow: hidden;
}

.App{
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #091921;
  height: 100vh;
}

.slideShows{
  width: 100%;
  height: 100%;
}

.widgets{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.timeWidget{
  height: 40%;
}

.weatherWidget{
  height: 25%;
}

.calendarWidget{
  height: 25%;
}

.musicWidget{
  height: 25%;
}