*{
  overflow: hidden;
}

.App{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.slideShows{
  width: 100%;
  height: 100%;
  border: 1px solid orange;
}

.widgets{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25%;
}

.timeWidget{
  border: 1px solid red;
}

.weatherWidget{
  border: 1px solid blue;
}

.calendarWidget{
  border: 1px solid purple;
}

.musicWidget{
  border: 1px solid green;
}
